@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&family=Cabinet+Grotesk:wght@700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

textarea,
select,
input,
button {
  font-family: "Figtree", sans-serif;
  outline: none;
}
